parameters:
    level: 6
    paths:
        - .

    excludePaths:
        - vendor
        - node_modules

    ignoreErrors:
        - '#Constant (APP_ROOT|BASE_URL) not found.#'
        # - identifier: missingType.generics

# Local Variables:
# mode: yaml
# End:
