parameters:
    level: 6
    paths:
        - ./Services

    excludePaths:
        - vendor
        - node_modules

    ignoreErrors:
        - '#Constant (APP_ROOT|BASE_URL) not found.#'
        # - identifier: missingType.generics
        - '#^Call to an undefined method Carbon\\CarbonImmutable::setToDbTimezone\(\).$#'
        - '#^Call to an undefined method Carbon\\CarbonImmutable::setToUserTimezone\(\).$#'
        - '#^Offset mixed on array\{\} in isset\(\) does not exist\.$#'

# Local Variables:
# mode: yaml
# End:
