/* Todo scope css better so it doesnt "ruin" leantime again */
/* Todo streamline kebab case / camelcase stuff */

.timetable {
  --itk-color-primary: hsla(200, 98%, 39%, 1);
  --itk-color-primary-50: hsla(204, 100%, 97%, 1);
  --itk-color-primary-100: hsla(204, 94%, 94%, 1);
  --itk-color-primary-800: hsla(201, 90%, 27%, 1);
  --itk-color-success: hsla(142, 76%, 36%, 1);
  --itk-color-success-100: hsla(141, 84%, 93%, 1);
  --itk-color-danger: hsla(0, 72%, 51%, 1);
  --itk-color-danger-800: hsla(0, 70%, 35%, 1);
  --itk-color-white: white;
  --itk-color-gray-50: hsla(210, 40%, 98%, 1);
  --itk-color-gray-100: hsla(214, 32%, 91%, 1);
  --itk-color-gray-200: hsla(213, 27%, 84%, 1);
  --itk-color-gray-500: hsla(215, 16%, 47%, 1);
  --itk-color-gray-700: hsla(215, 25%, 27%, 1);
  --itk-color-black: black;

  --itk-border-color: var(--itk-color-gray-200);

  --itk-border-radius: 4px;

  --itk-spacing: 16px;
  --itk-spacing-xs: calc(var(--itk-spacing) * 0.25);
  --itk-spacing-sm: calc(var(--itk-spacing) * 0.5);
  --itk-spacing-md: var(--itk-spacing);
  --itk-spacing-lg: calc(var(--itk-spacing) * 1.5);
  --itk-spacing-xl: calc(var(--itk-spacing) * 2);

  #timetable {
    background-color: var(--itk-color-white);
  }

  .timetable-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  > h1 {
    margin-bottom: var(--itk-spacing-xl);
  }

  .flex-container {
    display: flex;
  }

  .justify-between {
    justify-content: space-between;
  }

  .ml-auto {
    margin-left: auto;
  }

  .gap-3 {
    gap: var(--itk-spacing-md);
  }

  .shadow {
    box-shadow: 1px 2px 16px hsla(0, 100%, 0%, 0.16);
  }

  .tools {
    width: 100%;
    margin-bottom: var(--itk-spacing-md);
  }

  .btn {
    --transition-time: 0.4s;
    --transition-easing: ease-in-out;

    border-radius: var(--itk-border-radius) !important;
    background: none;
    padding: var(--itk-spacing-xs) var(--itk-spacing-sm);
    width: auto;
    transition:
      border calc(var(--transition-time) * 0.5) var(--transition-easing),
      background-color calc(var(--transition-time) * 0.5)
        var(--transition-easing);

    i {
      color: inherit;
      pointer-events: none;
    }

    &:hover {
      transition:
        border var(--transition-time) var(--transition-easing),
        background-color var(--transition-time) var(--transition-easing);
    }

    &:focus {
      outline: 1px solid var(--itk-color-black);
    }
  }

  .btn-default {
    background: var(--itk-color-gray-50);
    border: 1px solid var(--itk-border-color);
    color: var(--itk-color-gray-700);

    &:hover {
      color: var(--itk-color-black);
      background-color: var(--itk-color-white);
      border-color: var(--itk-color-gray-500);
    }
  }

  .btn-primary {
    background: var(--itk-color-primary);
    border: 1px solid var(--itk-color-primary);
    color: var(--itk-color-white);

    &:hover {
      background-color: var(--itk-color-primary-800);
      border-color: var(--itk-color-primary-800);
    }
  }

  .btn-danger {
    background: var(--itk-color-danger);
    border: 1px solid var(--itk-color-danger);
    color: var(--itk-color-white);
    padding: 0 var(--itk-spacing-md);

    &:hover {
      background-color: var(--itk-color-danger-800);
      border-color: var(--itk-color-danger-800);
    }
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }

  .table td {
    position: relative;
  }
  .table td.weekend {
    background: var(--itk-color-gray-50);
  }
  .table td.today {
    background: var(--itk-color-primary-50);
  }
  .table .th-ticket-title {
    width: 60%;
  }
  .table td:first-child {
    text-align: left;
  }

  .table th {
    border: 1px solid var(--itk-border-color) !important;
    background-color: var(--itk-color-gray-50);
    padding: var(--itk-spacing-sm) var(--itk-spacing-md);

    &:last-child {
      color: var(--itk-color-gray-500);
      background-color: var(--itk-color-gray-100);
    }
  }
  .table th.weekend {
    color: var(--itk-color-gray-500);
    background: var(--itk-color-gray-50);
  }
  .table th.today {
    background: var(--itk-color-primary-100);
  }
  .table td {
    border: 1px solid var(--itk-border-color);
    padding: var(--itk-spacing-md);

    &:last-child&:not([colspan="9"]) {
      color: var(--itk-color-gray-500);
      background-color: var(--itk-color-gray-100);
    }
  }
  .table .tr-total {
    color: var(--itk-color-gray-500);
    background-color: var(--itk-color-gray-100);
    font-weight: bold;
    cursor: default;
  }
  .table .timetable-edit-entry {
    --transition-time: 0.2s;
    --transition-easing: ease-in-out;

    cursor: pointer;
    position: relative;
    transition: background-color calc(var(--transition-time) * 0.5)
      var(--transition-easing);

    span {
      pointer-events: none;
      user-select: none;
    }

    &.description-missing:after {
      content: "";
      width: 0;
      height: 0;
      position: absolute;
      top: 0;
      right: 0;
      border-left: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-top: 10px solid var(--itk-color-danger);
    }

    &:before {
      opacity: 0;
    }

    &:hover {
      position: relative;
      background-color: var(--itk-color-success-100);

      transition: background-color var(--transition-time)
        var(--transition-easing);

      &:before {
        content: "+";
        position: absolute;
        display: block;
        width: 10px;
        height: 18px;
        top: calc(50% - 9px);
        left: calc(50% - 5px);
        color: var(--itk-color-success);
        opacity: 0.8;
        transition: opacity var(--transition-time) var(--transition-easing);
      }

      &:not([data-hours=""]) {
        &:before {
          content: "✎";
        }
      }
    }
  }
  .table td select {
    all: unset;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    border: none;
    padding: 10px;
    box-sizing: border-box;
  }
  .table td input {
    all: unset;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    border: none;
    padding: 10px;
    box-sizing: border-box;
  }
  > input {
    border-radius: 3px !important;
  }

  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  }

  &.edit-time-log-modal {
    display: none;
  }

  /* Modal Content/Box */
  .edit-time-log-form {
    display: flex;
    flex-direction: column;
    background-color: var(--itk-color-gray-50);
    margin: 15% auto;
    padding: var(--itk-spacing-lg);
    width: clamp(25vw, 450px, 100%);
    border-radius: var(--itk-border-radius);
    position: relative;

    input,
    textarea {
      padding: var(--itk-spacing-sm) var(--itk-spacing-md);
      border-radius: var(--itk-border-radius);

      &:focus {
        outline: 1px solid var(--itk-color-black);
      }
    }
  }
  .edit-time-log-form .timetable-close-modal {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    width: 25px;
    height: 25px;
    display: flex;
  }
  .edit-time-log-form .timetable-close-modal span {
    margin: auto;
  }

  .edit-time-log-form .timetable-modal-delete.deleting > i {
    animation: spin 1.2s linear infinite;
    font-size: 13px;
  }
  .edit-time-log-form input {
    width: 100%;
    border-radius: 3px;
  }

  .edit-time-log-form .fa-clock {
    position: absolute;
    top: 28px;
    right: 28px;
  }

  .edit-time-log-form {
    .description-wrapper {
      position: relative;

      &:after {
        content: "";
        width: 0;
        height: 0;
        position: absolute;
        top: 0;
        right: 0;
        border-left: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-top: 10px solid var(--itk-border-color);
      }

      &:focus-within {
        &:after {
          border-top: 10px solid var(--itk-color-black);
        }
      }

      &:has(textarea:invalid) {
        &:after {
          border-top: 10px solid var(--itk-color-danger);
        }
      }
    }
  }

  .edit-time-log-form #modal-description {
    position: relative;
    width: 100%;
    resize: none;
    height: 85px;
    border-radius: 0;
  }
  .edit-time-log-form input:disabled {
    opacity: 0.6;
  }
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  /* copy paste from https://www.w3schools.com/howto/howto_js_filter_dropdown.asp - also entries in timeTable.js and timetable.blade.php */
  /* Dropdown Button */
  .dropbtn {
    /*background-color: #04aa6d;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;*/
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: transparent;
    border: none;
    height: 31px;
  }

  /* The container <div> - needed to position the dropdown content */
  .timetable-ticket-search {
    position: relative;
    display: inline-block;
  }

  /* Dropdown Content (Hidden by Default) */
  .timetable-ticket-search .timetable-ticket-results {
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    width: 100%;
    border: 1px solid var(--itk-border-color);
    z-index: 1;
    top: calc(100% - 11px);
    max-height: 175px;
    overflow-y: auto;
  }

  .timetable-ticket-search .timetable-ticket-result-item:before {
    content: attr(data-project);
    position: absolute;
    top: 3px;
    left: 15px;
    font-size: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: calc(100% - 20px);
    overflow: hidden;
    pointer-events: none;
  }
  .timetable-ticket-search .timetable-ticket-result-item > span {
    white-space: nowrap;
    position: absolute;
    bottom: 3px;
    left: 15px;
    text-overflow: ellipsis;
    width: calc(100% - 15px);
    overflow: hidden;
    pointer-events: none;
  }
  /* Links inside the dropdown */
  .timetable-ticket-search .timetable-ticket-result-item,
  .timetable-ticket-search .timetable-ticket-result-item-no-results {
    color: black;
    padding: 5px 15px;
    text-decoration: none;
    display: block;
    cursor: pointer;
    position: relative;
    font-size: 12px;
    height: 40px;
    border-top: 1px solid var(--itk-border-color);
  }

  /* Change color of dropdown links on hover */
  .timetable-ticket-search .timetable-ticket-result-item:hover {
    background-color: #f1f1f1;
  }

  .timetable-ticket-search
    .timetable-ticket-input
    + .timetable-ticket-results:empty,
  .timetable-ticket-search
    .timetable-ticket-input:disabled
    + .timetable-ticket-results {
    display: none;
  }

  .timetable-ticket-input:disabled {
    border: 1px solid var(--itk-color-gray-100);
  }

  .timetable-sync-panel:empty {
    display: none;
  }

  .timetable-sync-panel {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #fff;
    right: 0;
    bottom: 0;
    width: 225px;
    height: 50px;
  }

  .timetable-sync-panel > div:first-child {
    flex: 2;
    cursor: pointer;
  }

  .timetable-sync-panel > div:first-child > button {
    width: 100%;
    border: none;
    border-bottom: 1px solid #999;
    background-color: #111;
    color: #fff !important;
    font-size: 13px;
    cursor: pointer;
  }

  .timetable-sync-panel > div:first-child > button > span {
    border-bottom: 1px solid #000;
    pointer-events: none;
  }

  .timetable-sync-panel > div:first-child > button > span > i {
    margin-right: 5px;
    pointer-events: none;
  }

  .timetable-sync-panel > div {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .timetable-sync-panel > div > span {
    font-size: 11px;
    margin: auto 0;
    color: #000;
  }

  .ticket-title span {
    color: #666;
    cursor: default;
  }

  .timetable-ticket-search.ticket-loading {
    pointer-events: none;
    user-select: none;
  }
  .timetable-ticket-search.ticket-loading::after {
    content: "";
    border-radius: 50%;
    border: 1px solid #000;
    position: absolute;
    animation: spin 1s infinite;
    right: 15px;
    top: 10px;
    width: 15px;
    height: 10px;
  }

  @keyframes spin {
    100% {
      transform: rotate(360deg);
    }
  }
}
